[dir="ltr"] .input-holder .eye {
    right: 0;
    margin-right: 9px;
}

[dir="rtl"] .input-holder .eye {
    left: 0;
    margin-left: 9px;
}

[dir="ltr"] .icon-textbox {
    background-position: 5px 7px;
}

[dir="rtl"] .icon-textbox {
    background-position: calc(100% - 5px) 7px;
}

[dir="rtl"] .tel-input {
    text-align: right;
}

[dir="ltr"] .submit-holder .arrow-wrapper {
    left: 100px;
}

[dir="rtl"] .submit-holder .arrow-wrapper {
    right: 100px;
}

[dir="ltr"] .submit-holder .arrow::after {
    right: 0;
    transform: rotate(-45deg);
}

[dir="rtl"] .submit-holder .arrow::after {
    left: 0;
    transform: rotate(135deg);
}

[dir="ltr"] .submit-holder::before {
    left: -21px;
}

[dir="rtl"] .submit-holder::before {
    right: -21px;
}

[dir="ltr"] .submit-holder:hover .submit {
    padding-right: 30px;
}

[dir="rtl"] .submit-holder:hover .submit {
    padding-left: 30px;
}

[dir="ltr"] .submit {
    padding-right: 20px;
}

[dir="rtl"] .submit {
    padding-left: 20px;
}

[dir="ltr"] .inner-mini-table-container {
    padding: 0 5px 0 0px;
}

[dir="rtl"] .inner-mini-table-container {
    padding: 0 5px 0 0px;
}

[dir="ltr"] .mini-table-container {
    padding: 5px 10px 5px 7px;
}

[dir="rtl"] .mini-table-container {
    padding: 5px 10px 5px 7px;
}

[dir="ltr"] .subcategory-container {
    margin-left: var(--subcontainer-margin);
}

[dir="rtl"] .subcategory-container {
    margin-right: var(--subcontainer-margin);
}

[dir="ltr"] .txalign {
    text-align: left;
}

[dir="rtl"] .txalign {
    text-align: right;
}

[dir="ltr"] .subcategory-label {
    transform: translateX(calc(-1 * var(--subcontainer-margin)));
}

[dir="rtl"] .subcategory-label {
    transform: translateX(calc(var(--subcontainer-margin)));
}

[dir="ltr"] .h-logo-container {
    margin-right: 9px;
}

[dir="rtl"] .h-logo-container {
    margin-left: 9px;
}

[dir="ltr"] .button-with-pic {
    padding-right: 10px;
}

[dir="rtl"] .button-with-pic {
    padding-left: 10px;
}

[dir="ltr"] .button-with-pic-label {
    padding-left: 10px;
}

[dir="rtl"] .button-with-pic-label {
    padding-right: 10px;
}

[dir="ltr"] .select-header {
    background-position: right 3px bottom 50%;
    padding-right: 20px;
}

[dir="rtl"] .select-header {
    background-position: left 3px bottom 50%;
    padding-left: 20px;
}

[dir="ltr"] .select-item {
    margin-left: 7px;
}

[dir="rtl"] .select-item {
    margin-right: 7px;
}

[dir="ltr"] .notification-container {
    left: 0;
}

[dir="rtl"] .notification-container {
    right: 0;
}

[dir="ltr"] .notification-box {
    padding: 5px 5px 10px 10px;
}

[dir="rtl"] .notification-box {
    padding: 5px 10px 10px 5px;
}