:root {
    --dark-back-color: #044271;
    --back-color: #2f83c5;
    --object-color: #2f83c5;
    --secondary-color: #2f9cc5;
    --fore-color: #ffffff;

    --shadow-color: #e2e2e2;
    --dark-shadow-color: #d6d6d6;

    --white-text-color: white;
    --colorized-text-color: #2f83c5;
    --black-text-color: #2f83c5;

    --button-border-color: #1e6197;

    --textbox-border-color: rgba(35, 123, 184, 0.3);
    --textbox-back-color: rgba(35, 150, 184, 0.1);
    --textbox-focus-back-color: rgba(35, 150, 184, 0.17);
    --textbox-focus-border-color: rgba(35, 123, 184, 0.47);
}