:root {
    --dark-back-color: #0d5083;
    --back-color: #2f83c5;
    --object-color: #2f83c5;
    --fore-color: #ffffff;

    --shadow-color: #d8d8d8;
    --dark-shadow-color: #c2c2c2;

    --white-text-color: white;
    --colorized-text-color: #2f83c5;
    --black-text-color: #2f83c5;

    --button-border-color: #1e6197;

    --textbox-border-color: rgba(35, 123, 184, 0.3);
    --textbox-back-color: rgba(35, 150, 184, 0.05);
    --textbox-focus-back-color: rgba(35, 150, 184, 0.17);
    --textbox-focus-border-color: rgba(35, 123, 184, 0.47);
}