:root {
    --backgroundcolor: #2f83c5;
    --objectscolor: #2f83c5;
    --forecolor: #ffffff;
    --shadowcolor: #d8d8d8;
    --darkshadowcolor: #c2c2c2;
    --textonblack: white;
    --textonwhite: #2f83c5;
    --color1: #216aa7;
    --color2: rgba(35, 123, 184, 0.3);
    --color3: rgba(35, 150, 184, 0.05);
    --color4: rgba(35, 150, 184, 0.17);
    --color5: rgba(35, 123, 184, 0.47);
}