@font-face {
    font-family: 'iransansxv';
    src: url('resources/fonts/iransansxv.woff') format('woff-variations'),
        /* will be the standard and works in Safari now */
        url('resources/fonts/iransansxv.woff') format('woff');
    /* for the other supporting browsers */
    font-weight: 100 1000;
    font-display: fallback;
}

@font-face {
    font-family: iransansx;
    src: url('resources/fonts/iransansx-regular.woff') format('woff');
}

@font-face {
    font-family: iransansx;
    src: url('resources/fonts/iransansx-bold.woff') format('woff');
    font-weight: 700;
}

body {
    font-family: iransansx, tahoma;
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'iransansxv', tahoma;
    }
}

:root {
    --regular-font-variation: "wght" 450, "DOTS" 8;
    --demi-bold-font-variation: "wght" 700, "DOTS" 8;
    --bold-font-variation: "wght" 880, "DOTS" 8;

    --smaller-font-size: 11px;
    --small-font-size: 12px;
    --normal-font-size: 13px;
    --xnormal-font-size: 15px;
    --big-font-size: 20px;
    --bigger-font-size: 24px;
    --title-font-size: 32px;
    --xtitle-font-size: 50px;
}


/*@media only screen and (max-width: 1000px) and (orientation:portrait) {
    :root {
        --regular-font-variation: "wght" 500, "DOTS" 8;
        --demi-bold-font-variation: "wght" 750, "DOTS" 8;
        --bold-font-variation: "wght" 950, "DOTS" 8;

        --smaller-font-size: 32px;
        --small-font-size: 36px;
        --normal-font-size: 44px;
        --big-font-size: 48px;
        --bigger-font-size: 54px;
        --title-font-size: 60px;
    }
}*/