.back-container {
    z-index: 0;
    width: var(--back-container-width);
    height: var(--back-container-height);
    top: calc(var(--back-container-top) - 5vh);
    left: var(--back-container-left);
}

.container {
    text-align: center;
    height: 300px;
    top: calc(50% - 300px / 2);
    right: calc(300px + 70px);
    border-radius: var(--page-border-radius);
}

.dropdown {
    top: calc(var(--back-container-top) + 6 *(var(--dropdown-height) + 20px));
    left: calc(var(--back-container-left) - var(--dropdown-width));
}

.dropdown-side {
    top: calc(var(--back-container-top));
    left: calc(var(--back-container-left) - var(--dropdown-width));
}

.dropdown-quick-setup {
    right: calc(100vw - (var(--back-container-left) + var(--back-container-width)) + 240px);
}

.dropdown-simple {
    right: calc(100vw - (var(--back-container-left) + var(--back-container-width)) + 120px);
}

.dropdown-advanced {
    right: calc(100vw - (var(--back-container-left) + var(--back-container-width)));
}

.dropdown-quick-setup,
.dropdown-simple,
.dropdown-advanced {
    top: calc(var(--back-container-top) - 50px - var(--dropdown-spacing));
}

.panel-layout-state,
.current-page {
    position: absolute;
    top: calc(var(--back-container-top) - 100px - var(--dropdown-spacing) + 45px);
    left: var(--back-container-left);
    color: var(--white-text-color);
    font-variation-settings: var(--demi-bold-font-variation);
    filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.5));
}

.current-page {
    margin-top: 20px;
    font-size: var(--title-font-size);
}