* {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */

    transition: 0.3s;
    font-family: 'iransansxv';
    font-variation-settings: var(--regular-font-variation);
    font-size: var(--normal-font-size);
}

:root {
    --page-border-radius: 20px;
    --object-border-radius: 15px;
}

body {
    transition: 1s;
    opacity: 0;
    background-color: var(--back-color);
    background-image: url(resources/images/pattern.png);
    margin: 0px;
    padding: 0px;
}

div {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

img {
    position: absolute;
}

.back-container {
    z-index: 1 !important;
    border-radius: var(--page-border-radius);
    border-top-left-radius: 0px;
    transition: 1s;
    background-color: var(--fore-color);
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.25) 0px -12px 30px,
        rgba(0, 0, 0, 0.25) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loading-container {
    transition: 0.7s;
    z-index: 1;
    background-color: var(--dark-back-color);
    width: 100vw;
    height: 100vh;
}

.loading-img {
    position: relative;
    width: 50px;
    left: calc(50vw - 50px / 2);
    top: calc(50vh - 50px / 2);
    animation: spin 0.5s linear;
    animation-iteration-count: 100;
}


.mobile-break {
    display: none;
}
@media only screen and (max-width: 1000px) and (orientation:portrait) {
    .noHoverMobile {
        pointer-events: none;
    }
}