:root {
  --page-brdr-radius: 25px;
  --obj-brdr-radius: 9px;

  --top-items-height: 0px;
  --side-items-width: 0px;

  --white-container-width: 500px;
  --white-container-height: 450px;
  --white-container-margin: 0px;
}

.clr-grayb8 {
  background-color: var(--clr-gray9);
}

.white-container {
  display: flex;
  opacity: 0;
}

.content-container {
  flex-direction: row;
}

.login-form-container {
  text-align: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 250px;
  height: 100%;
}

.logo-container {
  align-items: center;
  justify-content: end;
  display: flex;
  width: 250px;
  height: 100%;
}

.logo {
  display: flex;
  width: 80%;
  height: auto;
}

.input-holder {
  margin: 10px auto;
}

.title {
  margin-bottom: 15px;
}

.cinput {
  width: calc(100% - 60px);
}

.textbox {
  background-color: var(--clr-gray8);
}

.textbox:hover,
.textbox:focus {
  box-shadow: 0px 0px 0px 7px var(--clr-gray8);
}

.submit-holder {
  margin-top: 20px;
}

@media only screen and (max-width: 60rem) and (orientation:portrait) {
  .content-container {
    flex-direction: column;
    padding: 0;
  }

  .logo-container{
    margin-bottom: 15px;
  }

  .logo {
    margin: 0 !important;
    width: 200px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }

  .element-container{
    width: fit-content;
  }

  .white-container{
    width: 300px;
    height: 550px;
  }

  .login-form-container {
    width: 100%;
  }

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}