:root {
  --page-brdr-radius: 25px;
  --obj-brdr-radius: 9px;

  --top-items-height: 0px;
  --side-items-width: 0px;

  --white-container-width: 500px;
  --white-container-height: 450px;
  --white-container-margin: 0px;
}

.white-container {
  display: flex;
  opacity: 0;
}

.content-container {
  display: flex;
}

.login-form-container {
  text-align: center;
  align-items: center;
  display: inline-flex;
  overflow: hidden;
  width: 250px;
  height: 100%;
}

.logo-container {
  align-items: center;
  display: inline-flex;
  width: 250px;
  height: 100%;
}

.logo {
  display: flex;
  width: 80%;
  height: auto;
}

.logo:hover {
  width: 85%;
}

.input-holder {
  margin: 10px auto;
}

.title {
  margin-bottom: 15px;
}

.submit-holder {
  margin-top: 20px;
}