.input-holder {
  position: relative;
  display: inline-flex;
  width: 170px;
  height: 35px;
  margin: 10px;
}

.cinput {
  width: 80px;
  padding: 0 7px 0 7px;
  border-radius: var(--obj-brdr-radius);
}

.cinput::placeholder {
  color: var(--clr-gray6);
  font-variation-settings: var(--font-variation-thin);
}

.username-input {
  background: url(/assets/image/user.svg);
}

.tel-input {
  background: url(/assets/image/phone.svg);
}

.password-input {
  background: url(/assets/image/password.svg);
}

.input-holder .eye {
  position: absolute;
  cursor: pointer;
  width: 15px;
  height: 100%;
}

.textbox {
  color: var(--clr-black3);
  caret-color: var(--clr-brand);
  border: 2px solid transparent;
  outline: none;
  transition: 0.5s;
  background-color: var(--clr-gray9);
}

.textbox:hover,
.textbox:focus {
  background-color: white;
  border: 2px solid var(--clr-brand5);
  box-shadow: 0px 0px 0px 3px var(--clr-gray7);
}

.icon-textbox {
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 0 30px 0 30px;
}

.submit-holder {
  --fore-color: var(--clr-gray9);
  --hover-color: var(--clr-brand4);
  --arrow-width: 20px;
  --arrow-stroke: 2px;
  overflow: hidden;
  border-radius: var(--obj-brdr-radius);
  background-color: var(--clr-brand);
  color: var(--clr-black9);
  border: none;
}

.submit-holder .arrow-wrapper {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-holder .arrow {
  margin-top: 1px;
  width: 8px;
  background: transparent;
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.submit-holder .arrow::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--fore-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  background-color: transparent;
  display: inline-block;
  top: -3px;
  transition: 0.2s;
  padding: 3px;
}

.submit-holder::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  border-radius: 20px;
  background-color: var(--hover-color);
  z-index: 1;
  transition: all 500ms;
}

.submit-holder:hover::before {
  width: 120%;
}

.submit-holder:hover .arrow {
  background: var(--fore-color);
  width: 20px;
}

.submit {
  transition: 0.3s;
  width: 100%;
  z-index: 2;
  background-color: transparent;
  border: none;
  color: var(--fore-color);
  cursor: pointer;
}

.stat-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: fit-content;
  font-size: 0;
  border-radius: var(--group-brdr-radius);
  overflow: hidden;
  margin-bottom: 18px;
}

.stat-container:last-child {
  margin-bottom: 0;
}

.stat-first,
.stat-second {
  align-items: center;
  display: inline-flex;
  height: fit-content;
}

.stat-first {
  width: 250px;
}

.stat-second {
  width: calc(100% - 250px);
}

.stat-label-container {
  top: 0;
  width: 25px;
  height: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stat-label {
  writing-mode: vertical-lr;
  transform: scale(-1);
  position: absolute;
}

.stat-white-container {
  border-radius: var(--group-brdr-radius);
  display: inline-flex;
  padding: 13px;
  position: relative;
  align-items: center;
  width: calc(100% - 25px);
  height: fit-content;
}

.stat-white-container:hover {
  background-color: white;
}

.svg-icon {
  width: 100%;
  height: 100%;
}

.stat-icon-container {
  padding: 12px;
  width: 36px;
  height: 36px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  text-align: center;
  display: inline-flex;
  position: relative;
}

.vertical-border {
  width: 2px;
  height: 50px;
  margin-top: 5px;
  position: relative;
  display: inline-block;
}

.checkbox-container {
  width: fit-content;
  height: fit-content;
  display: flex;
}

.checkbox-container input {
  height: 0px;
  display: none;
}

.checkbox {
  cursor: pointer;
  width: 36px;
  height: 18px;
  padding: 3px;
  background-color: var(--clr-black5);
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: var(--group-brdr-radius);
}

.checkbox-handle {
  width: 18px;
  height: 18px;
  border-radius: var(--group-brdr-radius);
  position: relative;
  display: inline-block;
  background-color: var(--clr-gray9);
}

.checkbox-container input:checked+.checkbox {
  background-color: var(--clr-brand);
}

.checkbox-container input:checked+.checkbox .checkbox-handle {
  margin: 0 18px 0 18px;
}

#icon-add {
  fill: var(--clr-green);
}

#icon-alarms {
  fill: var(--clr-brand);
}

#icon-antena {
  fill: var(--clr-yellow);
}

#icon-module {
  fill: var(--clr-red);
}

#icon-battery {
  fill: var(--clr-green);
}

.mini-text-table-container {
  width: calc(100%);
  height: fit-content;
  display: block;
}

.mini-table-container {
  border-radius: 0 0 var(--obj-brdr-radius) var(--obj-brdr-radius);
  display: block;
  width: calc(100% - 17px);
  height: 50px;
}

.inner-mini-table-container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.subcategory-container {
  --subcontainer-margin: 10px;
  width: calc(100% - var(--subcontainer-margin));
  margin-bottom: 20px;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

.subcategory-container:last-of-type {
  margin-bottom: 0px;
}

.subcategory-label {
  margin-bottom: 5px;
  font-variation-settings: var(--font-variation-demi-bold);
  display: block;
  top: 0;
}

.objrow-container {
  --line-height: 30px;
  margin-bottom: 10px;
  height: fit-content;
  display: flex;
}

.objrow-container:last-of-type {
  margin-bottom: 0px;
}

.objrow-label {
  display: flex;
  flex-shrink: 0;
  line-height: var(--line-height);
  width: calc(210px - (-1 * (100% - 530px)));
}

.objrow-content {
  flex-grow: 1;
  display: flex;
}

.multi-toggle-container {
  flex-grow: 1;
  justify-content: end;
  display: flex;
}

.toggles-container {
  display: inline-flex;
}

.toggles-container .checkbox-container input[type=checkbox] {
  display: none;
}

.toggles-container .checkbox-container label {
  cursor: pointer;
  position: relative;
  margin: 0 4px 0 4px;
  justify-content: center;
  line-height: var(--line-height);
  display: inline-flex;
  width: 60px;
  line-height: var(--line-height);
  background-color: var(--clr-gray6);
  border-radius: 7px;
  font-size: var(--font-size-small);
  font-variation-settings: var(--font-variation-demi-bold);
  color: var(--clr-gray4);
  transition: 0.3s;
}

.toggles-container .checkbox-container input[type=checkbox]:checked+label {
  color: var(--clr-gray8);
  background-color: var(--clr-brand);
}

.button {
  background-color: var(--clr-brand);
  border-radius: var(--obj-brdr-radius);
  white-space: pre;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  width: 80px;
  color: var(--clr-gray8);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.button:hover {
  background-color: var(--clr-brand4);
}

.button:active {
  transition: 0.1s;
  background-color: var(--clr-brand5);
  box-shadow: 0 0 0 3px var(--clr-brand8);
}

.selectable-dropdown {
  cursor: pointer;
  color: var(--clr-black3);
  caret-color: var(--clr-brand);
  border: 2px solid transparent;
  outline: none;
  transition: 0.5s;
  background-color: var(--clr-gray9);
}

.selectable-dropdown:hover {
  background-color: white;
  border: 2px solid var(--clr-brand5);
  box-shadow: 0px 0px 0px 3px var(--clr-gray7);
}

.hyper-link {
  color: var(--clr-brand);
  cursor: pointer;
}

.hyper-link:hover {
  color: var(--clr-brand6);
  text-decoration: underline;
}

.content-header {
  width: calc(100% - 20px);
  margin-bottom: 15px;
  height: fit-content;
  background-color: var(--clr-gray9);
  padding: 9px;
  display: inline-flex;
  border-radius: calc(var(--page-brdr-radius) - 10px);
  align-items: center;
  flex-direction: row;
}

.h-logo-container {
  display: flex;
  height: fit-content;
  width: fit-content;
  background-color: var(--clr-gray7);
  padding: 3px;
  border-radius: calc(var(--page-brdr-radius) - 15px);
}

.h-logo {
  width: 25px;
}

.vertical-line {
  width: 2px;
  height: 20px;
  display: flex;
  background-color: var(--clr-gray6);
}

.button-with-pic-img {
  display: flex;
  height: fit-content;
  width: fit-content;
  width: 22px;
  height: 22px;
  background-color: var(--clr-gray7);
  padding: 3px;
  border-radius: calc(var(--page-brdr-radius) - 15px);
}

.button-with-pic {
  cursor: pointer;
  width: fit-content;
  min-width: 70px;
  height: 25px;
  display: flex;
  align-items: center;
  background-color: var(--clr-gray8);
  border-radius: var(--obj-brdr-radius);
  justify-content: right;
}

.button-with-pic:hover {
  background-color: var(--clr-gray7-5);
}

.button-with-pic:hover .button-with-pic-img {
  background-color: var(--clr-gray6-5);
}

.large-table-container {
  flex-grow: 1;
  display: flex;
  margin-bottom: 0;
  align-items: flex-start;
}

.large-table-container table {
  table-layout: auto;
  width: 100%;
  display: table;
}