.input-holder {
  position: relative;
  display: inline-flex;
  width: 170px;
  height: 35px;
  margin: 10px;
}

.cinput {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  width: 80px;
  padding: 0 7px 0 7px;
  border-radius: var(--obj-brdr-radius);
}

.cinput::placeholder {
  color: var(--clr-gray6);
  font-variation-settings: var(--font-variation-thin);
}

.username-input {
  background: url(/assets/image/user.svg);
}

.tel-input {
  background: url(/assets/image/phone.svg);
}

.password-input {
  background: url(/assets/image/password.svg);
}

.input-holder .eye {
  position: absolute;
  cursor: pointer;
  width: 15px;
  height: 100%;
}

.textbox {
  color: var(--clr-black3);
  caret-color: var(--clr-brand);
  border: 2px solid transparent;
  outline: none;
  transition: 0.5s;
  background-color: var(--clr-gray9);
}

.textbox:hover,
.textbox:focus {
  background-color: white !important;
  border: 2px solid var(--clr-brand5);
  box-shadow: 0px 0px 0px 3px var(--clr-gray7);
}

.icon-textbox {
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 0 30px 0 30px;
}

.submit-holder {
  --fore-color: var(--clr-gray9);
  --hover-color: var(--clr-brand4);
  --arrow-width: 20px;
  --arrow-stroke: 2px;
  overflow: hidden;
  border-radius: var(--obj-brdr-radius);
  background-color: var(--clr-brand);
  color: var(--clr-black9);
  border: none;
}

.submit-holder .arrow-wrapper {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-holder .arrow {
  margin-top: 1px;
  width: 8px;
  background: transparent;
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.submit-holder .arrow::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--fore-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  background-color: transparent;
  display: inline-block;
  top: -3px;
  transition: 0.2s;
  padding: 3px;
}

.submit-holder::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  border-radius: 20px;
  background-color: var(--hover-color);
  z-index: 1;
  transition: all 500ms;
}

.submit-holder:hover::before {
  width: 120%;
}

.submit-holder:hover .arrow {
  background: var(--fore-color);
  width: 20px;
}

.submit {
  transition: 0.3s;
  width: 100% !important;
  z-index: 2;
  background-color: transparent;
  border: none;
  color: var(--fore-color);
  cursor: pointer;
}

.stat-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: fit-content;
  font-size: 0;
  border-radius: var(--group-brdr-radius);
  overflow: hidden;
  margin-bottom: 18px;
}

.stat-container:last-child {
  margin-bottom: 0;
}

.stat-first,
.stat-second {
  align-items: center;
  display: inline-flex;
  height: fit-content;
}

.stat-first {
  width: 250px;
}

.stat-second {
  width: calc(100% - 250px);
}

.stat-label-container {
  top: 0;
  width: 25px;
  height: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stat-label {
  writing-mode: vertical-lr;
  transform: scale(-1);
  position: absolute;
}

.stat-white-container {
  border-radius: var(--group-brdr-radius);
  display: inline-flex;
  padding: 13px;
  position: relative;
  align-items: center;
  width: calc(100% - 25px);
  height: fit-content;
}

.stat-white-container:hover {
  background-color: white;
}

.svg-icon {
  width: 100%;
  height: 100%;
}

.stat-icon-container {
  padding: 12px;
  width: 36px;
  height: 36px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  text-align: center;
  display: inline-flex;
  position: relative;
}

.vertical-border {
  width: 2px;
  height: 50px;
  margin-top: 5px;
  position: relative;
  display: inline-block;
}

.checkbox-container {
  width: fit-content;
  height: fit-content;
  display: flex;
}

.checkbox-container input {
  height: 0px;
  display: none;
}

.checkbox {
  cursor: pointer;
  width: 36px;
  height: 18px;
  padding: 3px;
  background-color: var(--clr-black5);
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: var(--group-brdr-radius);
}

.checkbox-handle {
  width: 18px;
  height: 18px;
  border-radius: var(--group-brdr-radius);
  position: relative;
  display: flex;
  background-color: var(--clr-gray9);
}

.checkbox-container input:checked+.checkbox {
  background-color: var(--clr-brand);
}

.checkbox-container input:checked+.checkbox .checkbox-handle {
  margin: 0 18px 0 18px;
}

#icon-add {
  fill: var(--clr-green);
}

#icon-alarms {
  fill: var(--clr-brand);
}

#icon-antena {
  fill: var(--clr-yellow);
}

#icon-module {
  fill: var(--clr-red);
}

#icon-battery {
  fill: var(--clr-green);
}

.mini-text-table-container {
  width: calc(100%);
  height: fit-content;
  display: block;
}

.mini-table-container {
  border-radius: 0 0 var(--obj-brdr-radius) var(--obj-brdr-radius);
  display: block;
  width: calc(100% - 17px);
  height: 50px;
}

.inner-mini-table-container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.subcategory-container {
  --subcontainer-margin: 10px;
  width: calc(100% - var(--subcontainer-margin));
  margin-bottom: 20px;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

.subcategory-container:last-of-type {
  margin-bottom: 0px;
}

.subcategory-label {
  margin-bottom: 5px;
  font-variation-settings: var(--font-variation-demi-bold);
  display: block;
  top: 0;
}

.objrow-container {
  --line-height: 30px;
  margin-bottom: 10px;
  height: fit-content;
  display: flex;
}

.objrow-container:last-of-type {
  margin-bottom: 0px;
}

.objrow-label {
  display: flex;
  flex-shrink: 0;
  line-height: var(--line-height);
  width: calc(210px - (-1 * (100% - 530px)));
}

.objrow-content {
  flex-grow: 1;
  display: flex;
}

.multi-toggle-container {
  flex-grow: 1;
  justify-content: end;
  display: flex;
}

.toggles-container {
  display: inline-flex;
}

.toggles-container .checkbox-container input[type=checkbox] {
  display: none;
}

.toggles-container .checkbox-container label {
  cursor: pointer;
  position: relative;
  margin: 0 4px 0 4px;
  justify-content: center;
  line-height: var(--line-height);
  display: inline-flex;
  width: 60px;
  line-height: var(--line-height);
  background-color: var(--clr-gray6);
  border-radius: 7px;
  font-size: var(--font-size-small);
  font-variation-settings: var(--font-variation-demi-bold);
  color: var(--clr-gray4);
  transition: 0.3s;
}

.toggles-container .checkbox-container input[type=checkbox]:checked+label {
  color: var(--clr-gray8);
  background-color: var(--clr-brand);
}

.button {
  background-color: var(--clr-brand);
  border-radius: var(--obj-brdr-radius);
  white-space: pre;
  padding: 0px 10px;
  cursor: pointer;
  width: 80px;
  color: var(--clr-gray8);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30px;
}

.button:hover {
  background-color: var(--clr-brand4);
}

.button:active {
  transition: 0.1s;
  background-color: var(--clr-brand5);
  box-shadow: 0 0 0 3px var(--clr-brand8);
}

.red-button {
  background-color: var(--clr-red);
  color: var(--clr-red8);
}

.red-button:hover {
  background-color: var(--clr-red4);
}

.red-button:active {
  background-color: var(--clr-red5);
  box-shadow: 0 0 0 3px var(--clr-red8);
}

.select-header {
  background-color: var(--clr-gray8);
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 15px;
  width: var(--width);
  height: var(--height);
  background-image: url("/assets/image/arrow-down.svg");
}

.select-holder {
  --height: 24px;
  --width: 110px;
  width: fit-content;
  position: relative;
  height: calc(var(--height) + 4px);
}

.select-items-box {
  position: absolute;
  z-index: -4;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(5px);
  background-color: var(--clr-gray9);
  width: 100%;
  justify-content: left;
  display: flex;
  box-shadow: 0 0 0 1px var(--clr-gray6);
  border-radius: 5px;
}

.select-items-scroll {
  padding: 2px;
  width: calc(100% - 7px);
  max-height: 100px;
  margin: 2px 0 2px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.select-item {
  overflow: hidden;
  font-size: var(--font-size-smaller);
  padding: 0 5px 0 5px;
  border-radius: 3px;
  width: calc(100% - 18px);
  cursor: pointer;
  text-wrap: nowrap;
  border: 1px solid transparent;
  margin-bottom: 4px;
}

.select-item:hover {
  border: 1px solid var(--clr-brand5);
  background-color: var(--clr-gray8);
  box-shadow: 0px 0px 0px 2px var(--clr-gray7);
}

.select-item:active {
  background-color: var(--clr-gray9);
  box-shadow: 0 0 0 3px var(--clr-brand5);
}

.hyper-link {
  color: var(--clr-brand);
  cursor: pointer;
}

.hyper-link:hover {
  color: var(--clr-brand6);
  text-decoration: underline;
}

.content-header {
  width: calc(100% - 20px);
  margin-bottom: 15px;
  height: fit-content;
  background-color: var(--clr-gray9);
  padding: 9px;
  display: inline-flex;
  border-radius: calc(var(--page-brdr-radius) - 10px);
  align-items: center;
  flex-direction: row;
}

.h-logo-container {
  display: flex;
  height: fit-content;
  width: fit-content;
  background-color: var(--clr-gray7);
  padding: 3px;
  border-radius: calc(var(--page-brdr-radius) - 15px);
}

.h-logo {
  width: 25px;
}

.vertical-line {
  width: 2px;
  height: 20px;
  display: flex;
  background-color: var(--clr-gray6);
}

.button-with-pic-img {
  display: flex;
  height: fit-content;
  width: fit-content;
  width: 22px;
  height: 22px;
  background-color: var(--clr-gray7);
  padding: 3px;
  border-radius: calc(var(--page-brdr-radius) - 15px);
}

.button-with-pic {
  cursor: pointer;
  width: fit-content;
  min-width: 70px;
  height: 25px;
  display: flex;
  align-items: center;
  background-color: var(--clr-gray8);
  border-radius: var(--obj-brdr-radius);
  justify-content: right;
}

.button-with-pic:hover {
  background-color: var(--clr-gray7-5);
}

.button-with-pic:hover .button-with-pic-img {
  background-color: var(--clr-gray6-5);
}

.large-table-container {
  flex-grow: 1;
  display: flex;
  margin-bottom: 0;
  align-items: flex-start;
}

.large-table-scroller {
  --white-container-padding: 9px;
  --padding-for-scroll: 7px;
  position: relative;
  width: 100%;
  overflow-y: auto;
  height: 95%;
  display: flex;
}

.checkbox-cell div input {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 6px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 0px 1px var(--clr-gray7);
  cursor: pointer;
}

.checkbox-cell div :checked {
  background: var(--clr-brand) url("/assets/image/tick.svg") no-repeat center;
  background-size: 10px;
}

.checkbox-cell div input:hover {
  border: 2px solid var(--clr-brand5);
  box-shadow: 0px 0px 0px 3px var(--clr-gray7);
}

.checkbox-cell div input:active {
  background-color: var(--clr-brand7);
  box-shadow: 0 0 0 10px var(--clr-brand5);
}

.mini-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  scale: 0.7;
}

.fill-cell {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.large-table-container table thead {
  position: sticky;
  background-color: var(--clr-gray9);
  z-index: 1;
  top: 0;
}


.large-table-container table {
  width: 98%;
  table-layout: auto;
  position: absolute;
  border-spacing: 10px;
}

.large-table-container td {
  text-align: center;
}

.small-img-button {
  background-size: 22px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.small-edit-button {
  background-size: 20px;
  width: 20px;
  height: 20px;
  background-image: url(/assets/image/edit.svg);
}

.small-remove-button {
  background-image: url(/assets/image/remove.svg);
}

.dialogue-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;

  backdrop-filter: blur(0px);
  background-color: rgba(0, 20, 50, 0);
  animation: dialogue-blur-in 0.5s 0s forwards;
}

.dialogue-white-container {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: var(--clr-gray9);
  transform: translateY(-3vh);
  border-radius: var(--group-brdr-radius);
  opacity: 0;
  transition: 0.5s;
  animation: dialogue-in 0.5s 0s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes dialogue-blur-in {
  from {}

  to {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 20, 50, 0.4);
  }
}

@keyframes dialogue-in {
  from {}

  to {
    opacity: 1;
    transform: translateY(3vh);
  }
}

@keyframes dialogue-blur-out {
  from {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 20, 50, 0.4);
  }

  to {
    backdrop-filter: blur(0px);
    background-color: rgba(0, 20, 50, 0);
  }
}

@keyframes dialogue-out {
  from {
    opacity: 1;
    transform: translateY(3vh);
  }

  to {
    opacity: 0;
    transform: translateY(7vh);
  }
}

.dialogue-header-container {
  width: 100%;
  height: 35px;
  top: 0;
  border-radius: var(--group-brdr-radius) var(--group-brdr-radius) 0 0;
  background-color: var(--clr-gray8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogue-content-container {
  margin: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialogue-close-button {
  background-color: var(--clr-red);
  border-radius: var(--obj-brdr-radius);
  width: 19px;
  height: 14px;
  position: absolute;
  right: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 0px 0px 0px 1px transparent;
  background-image: url(/assets/image/close.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.dialogue-close-button:hover {
  background-color: var(--clr-red4);
  box-shadow: 0px 0px 0px 2px var(--clr-red7);
}

.dialogue-close-button:active {
  background-color: var(--clr-red6);
  box-shadow: 0px 0px 0px 3px var(--clr-red7);
}

.dialogue-header-label {
  text-align: center;
  font-variation-settings: var(--font-variation-demi-bold);
}

.dialogue-icon {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 8px;
}

.dialogue-container .cinput {
  background-color: var(--clr-gray8);
  width: 150px;
  height: 25px;
  text-align: center;
}

.bottom-margin {
  margin-bottom: 15px;
}

.dialogue-container .cinput:hover {
  background-color: var(--clr-gray9);
}

.dialogue-desc {
  max-width: 170px;
  text-align: center;
}

.dialogue-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.dialogue-container .button {
  font-variation-settings: var(--font-variation-demi-bold);
}

.dialogue-row-info {
  width: 100px;
}

.notification-container {
  position: absolute;
  width: 120px;
  height: 50px;
  bottom: 0;
}

.notification-box {
  position: absolute;
  width: calc(100% - 15px);
  height: fit-content;
  animation: notification-in 3s 0s forwards;
  opacity: 0;
  bottom: -3vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--obj-brdr-radius);
  box-shadow: 0 0 0 2px;
  overflow: hidden;
}

.notification-box:hover{
  animation-play-state: paused;
  box-shadow:0 0 0 3px;
}

.notification-box:active{
  box-shadow:0 0 0 5px;
}

.notification-background{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.notification-background-red{
  background-color: var(--clr-red6);
  opacity: 0.75;
}

.notification-box:hover .notification-background-red{
  opacity: 0.85;
}

.notification-box:active .notification-background-red{
  opacity: 0.95;
}

.notification-background-green{
  background-color: var(--clr-green5);
  opacity: 0.65;
}

.notification-box:hover .notification-background-green{
  opacity: 0.7;
}

.notification-box:active .notification-background-green{
  opacity: 0.9;
}

.notification-background-yellow{
  background-color: var(--clr-yellow5);
  opacity: 0.75;
}

.notification-box:hover .notification-background-yellow{
  opacity: 0.8;
}

.notification-box:active .notification-background-yellow{
  opacity: 0.9;
}

.notification-icon {
  width: 25px;
  height: 25px;
  margin: 0 -5px 0 -5px;
}

.notification-message{
  z-index: 5;
  color: var(--clr-gray9);
  font-size: var(--font-size-small);
}

.notification-header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2px;
  column-gap: 10px;
}

.notification-header{
  font-variation-settings: var(--font-variation-demi-bold);
  color: var(--clr-gray9);
}

@keyframes notification-in {
  from {}

  15%,
  85% {
    opacity: 1;
    bottom: 0;
  }

  to {
    opacity: 0;
    bottom: 1vh;
  }
}

@keyframes notification-out {
  from {
    opacity: 1;
    bottom: 0;
  }

  to {
    opacity: 0;
    bottom: 3vh;
  }
}