@media only screen and (max-width: 60rem) and (orientation:portrait) {
    :root {
        --white-container-padding: 20px;
    }

    .stat-white-container .vertical-border,
    .stat-white-container .stat-second {
        display: none;
    }

    .dashboard-mode-container {
        width: 100%;
        height: 35px;
        position: absolute;
        display: flex;
        justify-content: center;
        top: calc(-1 * var(--white-container-padding));
    }

    .dashboard-mode-line {
        z-index: 3;
        position: absolute;
        width: 180px;
        height: 7px;
        background-color: var(--clr-gray4);
        opacity: 0.3;
    }

    [dir="ltr"] .dashboard-mode-container {
        left: calc(-1 * var(--white-container-padding));
    }

    [dir="rtl"] .dashboard-mode-container {
        left: calc(-1 * var(--white-container-padding) - 5px);
    }

    .content-container {
        padding: 0;
    }

    .tab-selector {
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .tab {
        background-color: var(--clr-gray6);
        color: var(--clr-gray9);
        font-variation-settings: var(--font-variation-demi-bold);
        font-size: var(--font-size-small);
        width: 100px;
        height: calc(100% - 3px - 10px);
        border-radius: 0 0 15px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 7px;
        padding-bottom: 3px;
    }

    .tab:first-of-type {
        transform: translateX(10px);
    }

    .tab:last-of-type {
        transform: translateX(-10px);
    }

    .tab-active {
        height: calc(100% - 10px);
        z-index: 2;
        background-color: var(--clr-brand5);
        font-size: var(--font-size-normal);
        color: var(--clr-gray8);
    }

    .tab:active {
        --bx-color: var(--clr-brand7);
        -webkit-box-shadow: 0px 2px 0px 2px var(--bx-color), 2px 2px 0px 2px var(--bx-color), -2px 2px 0px 2px var(--bx-color);
        box-shadow: 0px 2px 0px 2px var(--bx-color), 2px 2px 0px 2px var(--bx-color), -2px 2px 0px 2px var(--bx-color);
    }

    .dashboard-mode-pointer {
        position: fixed;
        width: 100%;
    }

    .side-items-container {
        display: none;
    }

    .white-container {
        width: 100%;
        flex-grow: 1;
    }

    .cat-button:active {
        box-shadow: 0 0 0 5px var(--clr-brand7);
    }

    .loading-container,
    .background-image-container,
    .inner-body {
        height: 100dvh;
    }

    #stat-container-alarm .stat-text-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    #stat-container-alarm {
        margin-top: 25px;
    }

    .stat-white-container {
        height: 95px;
    }

    .stat-container {
        margin-bottom: 15px;
    }

    .last-stat-container {
        margin-bottom: 0;
    }

    .stat-label-container {
        width: 30px;
    }

    .element-container {
        display: flex;
        flex-direction: column;
        --width: 350px;
        width: var(--width);
        height: 650px;
    }

    .stat-first {
        width: 100%;
    }

    .top-logo {
        display: none;
    }

    .top-items-container {
        width: 100%;
        height: fit-content;
        padding: 0;
    }

    .quick-setup {
        display: none !important;
    }

    .top-items-container .cat-button:last-child {
        background-image: url('/assets/image/save.svg');
        background-size: 25px;
        background-repeat: no-repeat;
    }

    [dir="ltr"] .top-items-container .cat-button:last-child {
        background-position: bottom 50% right 5px;
    }

    [dir="rtl"] .top-items-container .cat-button:last-child {
        background-position: bottom 50% left 5px;
    }

    .cat-button-label {
        padding: 0 7px;
        font-variation-settings: var(--font-variation-demi-bold);
        width: fit-content;
        text-align: left;
        justify-content: flex-start;
    }

    .save-but {
        width: 75px;
    }

    .save {
        display: none;
    }

    .minimal-save {
        display: flex !important;
    }

    .dir-container {
        width: 230px;
    }

    .top-dir {
        font-variation-settings: var(--font-variation-bold);
    }

    .dir-container:active {
        box-shadow: none;
    }

    .objrow-container {
        flex-direction: column;
    }

    .objrow-label {
        flex-grow: 1;
        width: unset;
    }

    .checkbox-container .toggle-text:active {
        box-shadow: 0 0 0 3px var(--clr-brand6);
    }

    #phones-table {
        border-spacing: 0 0px;
        width: calc(100% - 15px);
    }

    #phones-table td,
    #phones-table th {
        padding-top: 15px;
        -webkit-box-shadow: 0px 6px 0px 0px var(--clr-gray9), 0px 8px 0px 0px var(--clr-gray6);
        box-shadow: 0px 6px 0px 0px var(--clr-gray9), 0px 8px 0px 0px var(--clr-gray6);
    }

    #phones-table th{
        padding: 0;
    }

    #phones-table thead {
        -webkit-box-shadow: 0px -7px 0px 0px var(--clr-gray9);
        box-shadow: 0px -7px 0px 0px var(--clr-gray9);
    }

    #phones-table td:nth-of-type(3),
    #phones-table td:nth-of-type(2),
    #phones-table th:nth-of-type(3),
    #phones-table th:nth-of-type(2) {
        display: block !important;
        text-align: right;
    }

    #phones-table td:nth-of-type(3),
    #phones-table th:nth-of-type(3) {
        padding-top: 0 !important;
    }

    #phones-table td:nth-of-type(2),
    #phones-table th:nth-of-type(2) {
        box-shadow: none;
    }

    #phones-table th:first-of-type,
    #phones-table td:first-of-type {
        display: none !important;
    }
}