:root{
    --dropdown-width: 140px;
    --dropdown-height: 40px;
    --dropdown-items-height: 30px;
    --dropdown-spacing: 20px;
}

.dropdown-no-childs,
.dropdown-child-container,
.dropdown-item,
.dropdown-bottom-spacer {
    position: relative;
}

.dropdown,
.dropdown-no-childs {
    margin-left: calc(-1 * var(--dropdown-spacing));
    z-index: 2;
    margin-bottom: var(--dropdown-spacing);
    text-align: center;
    overflow: hidden;
    height: var(--dropdown-height);
    width: var(--dropdown-width);
    box-shadow:
        rgba(0, 0, 0, 0.12) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.1) 0px 12px 13px,
        rgba(0, 0, 0, 0.07) 0px -3px 5px;
}

.dropdown-quick-setup,
.dropdown-simple,
.dropdown-advanced{
    width: 100px;
    z-index: 0;
    position: absolute;
    box-shadow:
        rgba(0, 0, 0, 0.12) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.1) 0px 12px 13px,
        rgba(0, 0, 0, 0.07) 0px -3px 5px;
}

.dropdown-no-childs {
    background-color: var(--fore-color);
    cursor: pointer;
}

.dropdown-side-ltr{
    border-radius: 0px 0px 0px var(--page-border-radius);
}
.dropdown-top-ltr{
    border-radius: 0px var(--page-border-radius) 0px 0px;
}
.dropdown-side-rtl{
    border-radius: 0px 0px var(--page-border-radius) 0px;
}
.dropdown-top-rtl{
    border-radius: var(--page-border-radius) 0px 0px 0px;
}

.dropdown-no-childs:hover {
    background-color: var(--shadow-color);
}

.dropdown:hover {
    height: calc(5 * var(--dropdown-items-height) + var(--dropdown-height));
}

.dropdown-child-container {
    background-color: var(--shadow-color);
    text-align: center;
    height: fit-content;
    width: 100%;
    transition: 0.3s;
}

.dropdown-bottom-spacer {
    height: var(--dropdown-height);
}

.dropdown-item {
    cursor: pointer;
    transition: 0.5s;
    display: inline-flex;
    justify-content: left;
    padding-left: var(--dropdown-spacing);
    align-items: center;
    background-color: var(--shadow-color);
    font-size: var(--normal-font-size);
    border: none;
    width: 100%;
    height: var(--dropdown-items-height);
}

.dropdown-item:hover {
    background: var(--dark-shadow-color);
}

.dropdown-hover-object {
    background-color: var(--fore-color);
    vertical-align: middle;
    top: 0;
    position: absolute;
    height: var(--dropdown-height);
    width: 100%;
}

.dropdown-label {
    font-size: var(--xnormal-font-size);
    font-variation-settings: var(--demi-bold-font-variation);
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 100%;
    height: 100%;
}